<div id="footer" class="container-fluid">
  <div class="row">
    <div class="col-md-7 footer-logo">
      <a href="http://www.umd.edu">
        <img style="width: 219px"
             src="{{ '/assets/images/umd_logo_footer.png' | relative_url }}"
             alt="University of Maryland">
      </a>
      <a href="http://www.nsf.gov">
        <img style="width: 301px"
             src="{{ '/assets/images/nsf_logo_footer.png' | relative_url }}"
             alt="National Science Foundation">
      </a>
    </div>
    <div class="col-md-5 copyright">{{ site.copyright }}</div>
  </div>
  <div class="row">
    <div class="col-md-7">
      SESYNC is supported by an award from the US National Science
      Foundation (Grant #s DBI-1052875 and DBI-1639145) to the University of
      Maryland, with additional support from University of Maryland,
      University of Maryland Center for Environmental Science, and
      Resources for the Future.
    </div>
    <div class="col-md-5"></div>
  </div>
</div>
