/* paletton.com base RGB BE5045 */
$color-primary: #BE5045;
$color-primary-light: #FFB6AF;
$color-primary-trim: #E68277;
$color-primary-accent: #9D3024;
$color-primary-dark: #711107;

$color-blue: #438cbb;
$color-grey: #2a2e31;
$color-light-grey: #595757;

/* Banners */
#footer {
    min-height: 125px;
    width: 100%;
    background: #000;
    font-size: 0.85em;
    color: #ccc;
    font-family: "proxima_nova_ltsemibold";
    text-align: left;
    .footer-logo img {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 40px;
    }    
    .copyright {
        padding-top: 10px;
        text-align: right;
    }
}

/* Fonts */

/* ====== Bitter ===========*/ 
@font-face {
    font-family: 'bitterregular';
    src: url('fonts/bitter-regular-webfont.eot');
    src: url('fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/bitter-regular-webfont.woff') format('woff'),
        url('fonts/bitter-regular-webfont.ttf') format('truetype'),
        url('fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bitterbold';
    src: url('fonts/bitter-bold-webfont.eot');
    src: url('fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/bitter-bold-webfont.woff') format('woff'),
        url('fonts/bitter-bold-webfont.ttf') format('truetype'),
        url('fonts/bitter-bold-webfont.svg#bitterbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ====== Proxima ===========*/
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-reg-webfont.eot');
    src: url('fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova-reg-webfont.woff') format('woff'),
        url('fonts/proximanova-reg-webfont.ttf') format('truetype'),
        url('fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_thextrabold';
    src: url('fonts/proximanova-xbold-webfont.eot');
    src: url('fonts/proximanova-xbold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova-xbold-webfont.woff') format('woff'),
        url('fonts/proximanova-xbold-webfont.ttf') format('truetype'),
        url('fonts/proximanova-xbold-webfont.svg#proxima_nova_thextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('fonts/proximanova-sbold-webfont.eot');
    src: url('fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova-sbold-webfont.woff') format('woff'),
        url('fonts/proximanova-sbold-webfont.ttf') format('truetype'),
        url('fonts/proximanova-sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova-bold-webfont.woff') format('woff'),
        url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
        url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ====== Futura ===========*/
@font-face {
    font-family: 'FuturaStd-Medium';
    src: url('fonts/futurastd-medium.eot');
    src: url('fonts/futurastd-medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/futurastd-medium.woff') format('woff'),
        url('fonts/futurastd-medium.ttf') format('truetype'),
        url('fonts/futurastd-medium.svg#futurastd-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaStd-Bold';
    src: url('fonts/futurastd-bold.eot');
    src: url('fonts/futurastd-bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/futurastd-bold.woff') format('woff'),
        url('fonts/futurastd-bold.ttf') format('truetype'),
        url('fonts/futurastd-bold.svg#futurastd-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
