---
---

@import "{{ site.theme }}";
@import "sesync";

header {
    background-color: black;
    background-image: unset;
    h1 {
        font-family: proxima_nova_ltsemibold;
        text-shadow: 1px 2px 0px $color-light-grey;
    }
    h2 {
        font-family: proxima_nova_ltsemibold;
        color: #666;
    }
    img {
        position: absolute;
        padding: inherit;
        left: 0;
        top: 0;
        height: calc(100% - 25px - 40px);
    }
}

@media print, screen and (max-width: 1060px) {
    footer {
        bottom: 0px;
    }
}

@media print, screen and (max-width: 680px) {
    header img {
        display: none;
    }
}

body {
    background-image: unset;
    background-color: $color-grey;
}

footer {
    width: 160px;
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: 350px;
    text-align: left;
}

ul {
    margin: 0;
    list-style-image: none;
}

li {
    margin: 0px;
}

h1 {
    margin: 0 0 1em;
}

h3 {
    margin: 0 0 0.6em 0;
    padding-left: 0.6em;
}
nav ul li.tag-h1 a {
    color: $color-blue;
}

tags {
    width: 230px;
    position: fixed;
    top: 220px;
    left: 50%;
    margin-left: 350px;
    text-align: left;
    h1 {
        font-size: 20px;
        font-family: proxima_nova_ltsemibold;
        color: white;
    }
    ul {
        font-size: 12px;
        line-height: 24px;
        list-style: none;
        padding: 0px;
    }
    a > strong {
        font-size: 18px;
        color: $color-primary;
    }
}


#banner {
    background-color: $color-primary;
    border: none;
    padding-left: calc(50% - 332px);
    .button {
        background-color: $color-primary-trim;
        border: 0.5px solid;
        border-color: $color-primary-dark;
        box-shadow: 0px 0px 1px 0px black;
    }
    .button:hover {
        background-color: $color-primary-light;
    }
}

#search-box {
    max-width: 300px;
    float: right;
    margin: 0 -50px 0 0;
    td {
        border: none;
    }
    .gsc-clear-button {
        visibility: hidden;
    }
    
}

#search-result {
    height: 100%;
    overflow: scroll;
    td {
        border: none;
    }
}
