---
---

@import "{{ site.theme }}";
@import "sesync";

header {
    background-color: black;
    background-image: unset;
    h1 {
        font-family: proxima_nova_ltsemibold;
        text-shadow: 1px 2px 0px $color-light-grey;
    }
    h2 {
        font-family: proxima_nova_ltsemibold;
        color: #666;
        @media print, screen and (max-width: 720px) {
            display: none;
        }
    }
    img {
        position: absolute;
        padding: 15px 20px 40px 20px;
        left: 0;
        top: 0;
        height: calc(100% - 25px - 40px);
        @media print, screen and (max-width: 720px) {
            display: none;
        }
    }
}

body {
    background-image: unset;
    background-color: $color-grey;
    font-size: 16px;
}

footer {
    width: 160px;
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin: 20px 350px;
    text-align: left;
}

ul {
    list-style-image: none;
}

li {
    margin: 0px;
}

td {
   border-left-color: $color-primary-trim;
   border-right-color: $color-primary-trim;
   border-bottom-color: $color-primary-trim;
   border-top-color: $color-primary-trim;
   &:first-child {
       border-left-color: $color-primary-trim;
    }
}

hr {
    background: $color-primary-trim;
    height: 2px;
}

h1 {
#    margin: 0 0 1em;
}

h3 {
#    margin: 0 0 0.6em 0;
}

nav ul li.tag-h1 a {
    color: $color-blue;
}

code {
    color: unset;
    text-shadow: unset;
    margin: unset;
    padding: unset;
    background: unset;
}

pre code {
    text-color: #efefef;
}

tags {
    width: 230px;
    position: fixed;
    top: 220px;
    left: 50%;
    margin-left: 350px;
    text-align: left;
    h3 {
        font-size: 18px;
        font-family: proxima_nova_ltsemibold;
        color: white;
    }
    ul {
        font-size: 10px;
        line-height: 20px;
        list-style: none;
        padding: 0px;
    }
    a > strong {
        font-size: 16px;
        color: $color-primary;
    }
}

.doc-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.doc-inline-img {
    height: 1em;
}

#banner {
    background-color: $color-primary;
    border: none;
    padding-left: calc(50% - 330px);
    right: calc(50% - 355px);
    margin-right: unset;
    .button {
        background-color: $color-primary-trim;
        border: 0.5px solid;
        border-color: $color-primary-dark;
        box-shadow: 0px 0px 1px 0px black;
        margin-top: 7px;
    }
    .button:hover {
        background-color: $color-primary-light;
    }
    @media print, screen and (max-width: 1060px) {
        width: unset;
        right: 0;
    }
}

#search-box {
    max-width: 300px;
    float: right;
    margin: 0 -10px 0 0;
    table {
        margin: 0;
        height: 39px;
    }
    
    td {
        border: none;
    }
    .gsc-clear-button {
        visibility: hidden;
    }
    @media print, screen and (max-width: 720px) {
        display: none;
    }
}

#search-result {
    height: 100%;
    overflow: scroll;
    td {
        border: none;
    }
}
