---
layout: default
---

{{ content }}

{% assign category = page.category %}
{% assign grouped_posts = site.categories[category] | group_by: 'sticky' | reverse %}
<div class="posts">
{% for posts in grouped_posts %}
  {% for post in posts.items %}
    <!--<div class="{{ post.tags | join: ' ' | prepend: 'post '}}">-->
    <div class="post" data-tags="[&quot;{{ post.tags | join: '&quot;,&quot;' }}&quot;]">
      {% if post.sticky %}
        <i class="fa fa-sticky-note" aria-hidden="true"></i>
      {% endif %}
      {% if post.categories contains 'blog' %}
        {{ post.date | date: '%B %d, %Y' }} &mdash;
      {% endif %}
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% if post.categories contains 'lesson' %}
        &mdash; {{ post.excerpt | strip_html }}
      {% endif %}
    </div>
  {% endfor %}
{% endfor %}
</div>