<!doctype html>
<!-- Originally downloaded from https://github.com/pages-themes/leap-day/blob/2c15b7c092971aa8af0e2752d562dd5ecad7d0f2/_layouts/default.html on 2017-10-09. -->
<html lang="{{ site.lang | default: en-US }}">
  <head>
    <!-- global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24906765-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-24906765-5');
    </script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    {% seo %}
    <link rel="stylesheet"
          href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"/>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!-- Isotope by Metafizzy, https://isotope.metafizzy.com -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <!-- selectize by Brian Reavis, http://selectize.github.io/selectize.js/ -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  </head>
  <body>
    <header>
      <a href="https://www.sesync.org">
        <img src="{{ '/assets/images/background.png' | relative_url }}">
      </a>
      {% if page.category %}
        {% include title.html category=page.category %}
      {% else %}
        <h1>{{ site.title }}</h1>
        <h2>{{ site.subtitle }}</h2>
      {% endif %}
    </header>

    <div id="banner">
      <a href="{{ '/quickstart/' | relative_url }}" class="button">
        <strong>Quick Start</strong>
      </a>
      <a href="{{ '/faq/' | relative_url }}" class="button">
        <strong>FAQ</strong>
      </a>
      <a href="{{ '/blog/' | relative_url }}" class="button">
        <strong>Blog</strong>
      </a>
      <a href="{{ '/lesson/' | relative_url }}" class="button">
        <strong>Lesson</strong>
      </a>
    </div>

    <div class="wrapper">
      {% if page.toc %}<nav><ul></ul></nav>{% endif %}
      <section>
        {% if page.title %}
        <h1>{{ page.title }}</h1>
        {% endif %}
      	{% if page.author %}
      	<p><strong>{{ page.date | date: '%B %d, %Y'}} by
	      <a href="https://github.com/{{ page.author }}">@{{ page.author }}</a>
	      </strong></p>
      	{% endif %}
        {{ content }}
      </section>
      <div id="tag-wrapper">
        {% if page.tags.size > 0 %}
        <h3>Related <i class="fa fa-tags" aria-hidden="true"></i></h3>
        {% for tag in page.tags -%}
          <div class='tag'>
            <a href="{{ 'tags.html?with=' | append: tag | relative_url }}">
              <strong>{{ tag }} </strong>
            </a>
            <span class="fa-stack fa-lg">
              <i class="fa fa-tag fa-stack-2x" aria-hidden="true"></i>
              <strong class="fa-stack-1x">{{ site.tags[tag].size }}</strong>
            </span>
          </div>
        {%- endfor %}
        {% else %}
        <h3>Filter by <i class="fa fa-tags" aria-hidden="true"></i></h3>
        <div id="selectize-tags"></div>
        <script src="{{ '/assets/js/filter.js' | relative_url }}"></script>
        {% endif %}
      </div>
      <footer>
        <p>
          <a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}"
             target="_blank">
            <i class="fa fa-pencil" aria-hidden="true"></i> Edit this page
          </a>
        </p>
        <p>Site maintained by
          <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        </p>
        <p><small>Hosted on GitHub Pages<br>theme by <a
          href="https://twitter.com/michigangraham">mattgraham</a></small>
        </p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
